
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px; 
}

.header_menu {
  display: flex;
  justify-self: start;
}

.menu_links {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.link_list {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.main_link_marker {
  list-style-type: none;
}

.link_main {
  text-decoration: none;
}

.header_logo {
  width: 148px;
  height: 105px;
  display: block;
}

.header_address {
  justify-self: end;
  font-style: normal;
}

.address_list {
  font-size: 18px;
  line-height: 24.3px;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  text-underline-offset: 4px;
}

.address_list li:last-child {
  text-decoration: none;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: #fff;
  text-transform: uppercase;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  padding: 165px 50px 52px; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover_title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 127px; 
}

.cover_title span {
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
}

.text_cover {
  display: block;
}

.text_center {
  text-align: center;
  padding-left: 0; 
  margin-left: 50px;
}

.text_right {
  text-align: right;
}

.letter_spacing {
  letter-spacing: 0.6em;
}

.no_letter_spacing {
  letter-spacing: 0;
}

.cover_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
}

.button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  padding: 180px 50px 0; 
}

.title_lots {
  margin-left: 40px;
  margin-bottom: 27px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.container_lots {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  flex-wrap: wrap; 
}

.card_lots {
  flex: 1;
  min-width: 430px; 
  min-height: 450px; 
}

.card_lots a {
  text-decoration: none;
  display: block;
  height: 100%;
}

.card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.card_about_cinema {
  background-image: url(./../images/card-lot-01.jpg);
}

.card_about_book {
  background-image: url(./../images/card-lot-02.jpg);
}

.card_about_picture {
  background-image: url(./../images/card-lot-03.jpg);
}

.card_title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
}

.text_on_card {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.view_more {
  display: inline-block;
  margin-left: 40px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: 5px;
}

.about {
  padding: 180px 50px 0; 
}

.about_container {
  display: grid;
  grid-template-columns: 395px 1fr; 
  gap: 25px;
}

.about_logo {
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about_logo_image {
  width: 148px;
  height: 114px;
}

.about_content {
  padding-top: 102px; 
}

.title_about {
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.about_text {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.text_up {
  margin-bottom: 25px;
}

.text_down {
  margin-bottom: 0;
}


.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 50px 90px; 
  align-items: start;
}


.footer_menu {
  justify-self: center;
}

.footer_menu_links {
  list-style-type: none;
  text-align: center;
}

.footer_links {
  margin-bottom: 8px;
}

.footer_links:last-child {
  margin-bottom: 0;
}

.footer_links a {
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: 4px;
}

.footer_main {
  text-decoration: none;
}

.footer_images {
  display: flex;
  gap: 48px;
  justify-self: end;
}

.images_footer {
  width: 48px;
  height: 48px;
  display: block;
}